.registerForgot {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: space-between;

  width: 100%;
}

.registerForgot > * {
  cursor: pointer;
}

.back {
  position: absolute;
  top: 30px;
  left: 30px;

  height: 30px;
  width: 30px;

  background: transparent;
}
