.bg {
  background: var(--blue);
  height: fit-content;

  align-self: center;
  padding: 30px;

  border-radius: 10px;
  position: relative;
}

.bg h2 {
  text-align: center;
  font-size: 30px;
  font-weight: 500;
}

.form {
  display: grid;
  gap: 24px;

  height: 100%;
  align-content: start;
}

.form > div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;

  width: 100%;
}

.input {
  background: var(--silver);
  padding: 0 10px;

  height: 70px;
  border-radius: 10px;
}

.form button {
  height: 70px;
  background: var(--silver);

  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  background: var(--green);
  border-radius: 10px;
}

.bg .registerForgot {
  grid-template-columns: repeat(2, auto);
  justify-content: space-between;
}

.registerForgot > * {
  cursor: pointer;
}

.form .back {
  position: absolute;
  top: 30px;
  left: 30px;

  height: 30px;
  width: 30px;

  background: transparent;
}
