.header {
  background: var(--blue);
  transition: 0.3s;

  height: 100vh;
  height: 100dvh;

  width: 25vw;
  width: 25dvw;
  max-width: 311px;

  display: grid;
  gap: 10px;
  align-content: start;

  position: relative;
}

.header.small {
  width: 116px;
}

.toggleHeader {
  position: absolute;
  top: 20px;
  right: 0px;
  transform: translateX(99%);

  width: fit-content;
  height: 40px;
  padding: 0 10px;

  opacity: 1 !important;
  cursor: pointer;

  border-radius: 0px 10px 10px 0px;

  background: var(--blue);
}

.toggleHeader::before {
  content: ">";
  display: inline-block;
  transition: 0.3s;

  font-weight: 700;
  transform: scaleX(1) scaleY(1.5);
}

.header.small .toggleHeader::before {
  transform: scaleX(-1) scaleY(1.5);
}

.logo {
  padding: 30px;

  display: grid;
  grid-auto-flow: column;
  justify-content: start;

  width: fit-content;
}

.logo > span {
  font-weight: 700;
  font-size: 42px;

  transition: 0.3s;

  width: auto;
  max-width: 30px;
}

.logo:hover > span {
  animation: moveLetter 0.05s ease-in-out calc(var(--i) * 0.05s);
}

.header.small .logo > span:nth-child(2),
.header.small .logo > span:nth-child(3),
.header.small .logo > span:nth-child(4),
.header.small .logo > span:nth-child(6),
.header.small .logo > span:nth-child(7),
.header.small .logo > span:nth-child(8),
.header.small .logo > span:nth-child(9),
.header.small .logo > span:nth-child(10) {
  max-width: 0px;
  opacity: 0;
}

.header.small .logo > span:nth-child(5) {
  transform: scaleX(-1) translateY(10%);
}

.header.small .logo:hover > span:nth-child(5) {
  animation: moveReversedLetter 0.05s ease-in-out 0.05s;
}

@keyframes moveLetter {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(-10%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes moveReversedLetter {
  0% {
    transform: translateY(10%) scaleX(-1);
  }
  50% {
    transform: translateY(0%) scaleX(-1);
  }
  100% {
    transform: translateY(10%) scaleX(-1);
  }
}

.link {
  background: var(--silver);
  padding: 15px;

  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  align-items: center;

  width: 100%;

  gap: 10px;

  transition: 0.3s;
}

.link.active > p {
  text-decoration: underline;
  font-weight: 500;
}

.link:hover {
  opacity: 0.7;
}

.link > svg {
  width: 30px;
  height: 30px;
}

.link > p {
  transition: 0.3s;
  transform-origin: left;

  max-width: 300px;

  white-space: nowrap;
}

.header.small .link {
  gap: 0px;
  justify-content: center;
}

.header.small .link > p {
  max-width: 0px;

  transform: scaleX(0);
}
