@import url("https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.cdnfonts.com/css/american-captain-2");

html {
  scroll-behavior: smooth;
  scroll-padding-top: 81px;
}

body {
  display: grid;
  grid-template-columns: auto 1fr;
  min-height: 100vh;
  min-height: 100dvh;
  background: var(--onyx);
  overflow: hidden;
}

.wrapApp {
  padding: 30px;
  display: grid;
}

* {
  user-select: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 40px;

  color: var(--black);

  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  background: none;
  list-style: none;
  box-sizing: border-box;

  text-decoration: none;
}

:root {
  --onyx: #393d3f;
  --white: #fcfcfc;
  --black: #121212;
  --silver: rgb(198, 197, 185);
  --silver-hover: rgb(185, 185, 182);
  --blue: #62929e;
  --red: rgb(255, 67, 63);
  --green: #79ce3d;
}

.bg {
  background: var(--blue);
  height: fit-content;

  align-self: center;
  padding: 30px;

  border-radius: 10px;
  position: relative;

  overflow-y: auto;

  max-height: calc(100vh - 60px);
  max-height: calc(100dvh - 60px);
}

.form {
  display: grid;
  gap: 24px;

  height: 100%;
  align-content: start;
}

.form label {
  font-weight: 600;

  display: grid;
  gap: 10px;
}

h1 {
  text-align: center;
  font-size: 40px;
  font-weight: 600;
}

h2 {
  text-align: center;
  font-size: 30px;
  font-weight: 500;
}

.wrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;

  width: 100%;
}

button {
  transition: 0.3s;
  cursor: pointer;

  height: 70px;

  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  background: var(--green);
  border-radius: 10px;
}

button:hover {
  opacity: 0.75;
}

.input {
  background: var(--silver);
  padding: 0 10px;

  height: 70px;
  width: 100%;
  border-radius: 10px;

  display: grid;
  grid-auto-flow: column;
  justify-content: start;
}

textarea.input {
  height: unset;
  min-height: 70px;
  resize: vertical;
  padding-top: 15px;
}

button[type="submit"],
button[type="reset"],
.submit,
.reset {
  height: 70px;
  border-radius: 10px;

  padding: 0 10px;
  background: var(--red);

  font-weight: 600;
}

button[type="reset"].submit,
button[type="submit"]:not(.reset),
.submit {
  background: var(--green);
}

@media screen and (max-width: 1024px) {
  body {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
  }

  .wrap {
    grid-template-columns: 1fr;
  }

  .wrapApp {
    width: 100vw;
    width: 100dvw;

    padding: 16px;
    align-content: start;
  }

  .bg {
    height: calc(100vh - 100px - 32px);
    height: calc(100dvh - 100px - 32px);

    padding: 16px;

    overflow-x: hidden;
  }
}
