@import url("https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.cdnfonts.com/css/american-captain-2");

html {
  scroll-behavior: smooth;
  scroll-padding-top: 81px;
}

body {
  display: grid;
  grid-template-columns: auto 1fr;
  min-height: 100vh;
  min-height: 100dvh;
  background: var(--onyx);
  overflow: hidden;
}

.wrapApp {
  padding: 30px;
  display: grid;
}

* {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 40px;

  color: var(--black);

  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  background: none;
  list-style: none;
  box-sizing: border-box;

  text-decoration: none;
}

:root {
  --onyx: rgb(57, 61, 63);
  --white: #fcfcfc;
  --black: #121212;
  --silver: rgb(198, 197, 185);
  --blue: rgb(98, 146, 158);
  --red: rgb(255, 67, 63);
  --green: rgb(121, 206, 61);
}

.bg {
  background: var(--blue);
  height: fit-content;

  align-self: center;
  padding: 30px;

  border-radius: 10px;
  position: relative;
}

.form {
  display: grid;
  gap: 24px;

  height: 100%;
  align-content: start;
}

h1 {
  text-align: center;
  font-size: 40px;
  font-weight: 600;
}

h2 {
  text-align: center;
  font-size: 30px;
  font-weight: 500;
}

.wrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;

  width: 100%;
}

button {
  transition: 0.3s;
  cursor: pointer;

  height: 70px;

  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  background: var(--green);
  border-radius: 10px;
}

button:hover {
  opacity: 0.75;
}

.input {
  background: var(--silver);
  padding: 0 10px;

  height: 70px;
  border-radius: 10px;

  display: grid;
  grid-auto-flow: column;
  justify-content: start;
}

.submit {
  height: 70px;
  border-radius: 10px;

  padding: 0 10px;
  background: var(--green);
}
