.dropDownWrap {
  display: grid;
  grid-template-rows: auto 0fr;

  transition: grid-template-rows 0.3s;
}

.dropDownWrap:has(.opened) {
  grid-template-rows: auto 1fr;
  align-content: start;
}

.children {
  overflow: hidden;
  transition: 0.3s;
}

.dropDownWrap:has(.opened) .children {
  margin-top: 10px;
}
