.editEventModal {
  display: grid;
  gap: 16px;

  position: relative;
}

.cross {
  position: absolute;
  top: 0px;
  right: 0px;
  transform: rotate(45deg);
  cursor: pointer;
  transition: 0.3s;
}

.cross:hover {
  transform: rotate(45deg) scale(1.05);
}
