.guests {
  display: grid;
  gap: 10px;
}

.guest {
  background: var(--silver);
  border-radius: 10px;
  padding: 16px;

  position: relative;
}

.guest.user {
  display: grid;
  grid-template-areas: "avatar name" "avatar email";

  justify-content: start;
  align-items: center;
  align-content: center;
  column-gap: 10px;
}

.avatar {
  grid-area: avatar;
  border-radius: 50%;
}

.name {
  grid-area: name;
}

.name > span {
  font-weight: 300;
}

.email {
  grid-area: email;
}

.delete {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 16px;

  width: 24px;
  height: 24px;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .guest.user {
    grid-template-areas: unset;
    gap: 10px;
  }
  .guest {
    width: 100%;
    overflow-x: auto;
  }

  .guest > * {
    grid-area: unset;
  }

  .name,
  .email {
    overflow-x: auto;
    white-space: nowrap;
  }

  .name::-webkit-scrollbar,
  .guest::-webkit-scrollbar,
  .email::-webkit-scrollbar {
    display: none;
  }
}
